<nav class="navbar">
  <%= link_to "Private Events",root_path, class: "navbar-brand" %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <% if current_user %>
  <div class="dropdown-list">
    <div class="dropdown">
      <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag avatar_url(current_user, 40), alt: "#{current_user.first_name}", class: 'profile-image' %>
      </div>
      <div class="dropdown-menu" aria:{labelledby: "dropdownMenuButton"}>
        <%= link_to name(current_user), user_path(current_user), class: "nav-link" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link"%>
        <%= link_to "Create Event", new_event_path, class: "nav-link"%>
      </div>
    </div>
    <i id="navbarDropdown" class="fa fa-bell toggle-button" data-behavior="notifications"></i>
  </div>
  <% else %>
  <li class="nav-item ml-2">
    <%= link_to "Log In", new_user_session_path, class: "nav-link"%>
  </li>
  <% end %>
  <div class="notification-section" data-behavior="dropdown-items">  
  </div>
</nav>
