<% local_assigns[:event].each do |event| %>
  <div class="single-event">
    <%= cl_image_tag(event.event_image, alt: event.title, class:"single-event__img") %>
    <div class="single-event__content">
      <%= link_to event.title.humanize, event_path(event), class: "single-event__title" %>
      <p><%= event.address%></p>
      <p>Price: $ <%= event.price%></p>
    </div>
    <div class="single-event__buttons">
      <%= display_join_button(event, 'join-button') %>
      <div class="crud-buttons">
        <%= display_buttons(event) %>
      </div>
    </div>
  </div>
  <% end %>