<% local_assigns[:event].each do |event| %>
  <div class="single-event">
    <img src="/assets/music2.jpg" alt="#{event.title}" class="single-event__img">
    <div class="single-event__content">
      <h5><%= event.title.humanize %></h5>
      <p><%= event.address%></p>
      <p>Price: $ <%= event.price%></p>
    </div>
    <div class="single-event__buttons">
      <%= button_to "Join Event", { controller: 'attendences', action: 'create', attendee_id: current_user, attended_event_id: event.id}, method: :post, class: "join-button" %>
      <div class="crud-buttons">
        <%= display_buttons(event) %>
      </div>
    </div>
    </div>
  <% end %>