<% provide(:title, @event.title) %>

<main class="event-show-section">
  <div class="full-event mr-auto col-md-7 col-sm-12">
  <%= image_tag("/assets/music.jpg", size: 100, class: 'full-event__img')%>
    <h3><%= @event.title %></h3>
    <p><%= @event.features %></p>
    <div class="event__address">Happening in: <%=@event.address%></div>
    <p>Organized By: <%= link_to content_tag("span", name(@event.user)), user_path(@event.user), :class=>"event-info" %></p>
    <div class="attendee-list">
      <%= render 'attendees_list', attendees: @event.attendees %>
    </div>
    <div>
      <span class="price-btn">$20</span>
      <%= display_join_button(@event, "join-btn") %>
    </div>
  </div>

  <aside class="related-events col-md-5 col-sm-12">
  <div>
    <h3>Related Event</h3>
    <%= render 'shared/single_event', event: @related_events %>
  </div>

  <div>
    <h3>Popular Events</h3>
    <%= render 'shared/single_event', event: @popular_events %>
  </div>
  </aside>
</main>