
<% local_assigns[:events].each do |event| %>
  <div class="card event">
    <%= image_tag(cloudinary_url(event.event_image.key), :cloud_name => "dkrunzl9g", alt:"event image", class:"event__img") %>
    <div class="card-body">
      <h4><%= link_to event.title, event_path(event) %></h4>
      <div class="d-flex my-2">
        <span class="mr-auto"><%= event.address%></span>
        <span><%= event.date%></span>
      </div>
      <%= display_join_button(event, "btn btn-primary") %>
    </div>
  </div>
<% end %>