<% provide(:title, 'Home') %>
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-section" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    <% @latest_events.each_with_index do |latest_event, index| %>
      <% if index == 0%>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
        <%= image_tag("/assets/music.jpg", class: "d-block carousel-item-image", alt: "first")%>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= latest_event.title %></h5>
          <p><%= latest_event.date %></p>
        </div>
      </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<main class=" main fluid-container">
  <section class="events">
    <h1 class="text-start section-title">Future Events</h1>
    <div class="events-wrapper">
      <% @upcoming_events.each do |upcoming_event| %>
      <div class="card event">
        <img src="/assets/music3.jpeg" alt="event image" class="event__img">
        <div class="card-body">
          <h4><%= link_to upcoming_event.title, "/events/#{upcoming_event.id}" %></h4>
          <div class="d-flex my-2">
            <span class="mr-auto"><%= upcoming_event.user.first_name%></span>
            <span><%= upcoming_event.date%></span>
          </div>
          <a href="#" class="btn btn-primary">Join</a>
        </div>
      </div>
      <% end %>
    </div>
  </section>
  <section class="events">
    <h1 class="text-start section-title">Past Events</h1>
    <div class="events-wrapper">
      <% @past_events.each do |past_event| %>
      <div class="event card">
        <img src="/assets/music3.jpeg" alt="event image" class="event__img">
        <div class="card-body">
          <h4><%= link_to past_event.title, "/events/#{past_event.id}" %></h4>
          <div class="d-flex my-2">
            <span class="mr-auto"><%= past_event.user.first_name%></span>
            <span><%= past_event.date%></span>
          </div>
          <a href="#" class="btn btn-primary">Join</a>
        </div>
      </div>
      <% end %>
    </div>
  </section>
  </main>


<%= link_to "Logout", destroy_user_session_path, method: :delete %>
